.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.App > div {
	background-color: rgba(17, 18, 114, 0.6);
	padding: 20px;
	border-radius: 20px;
}
